<a class="home" href="/">Home</a>


<div class="card__conteiner">

    <diV class="card__opcao" *ngIf="isBoole">

        <div class="card__title" (click)="visualisarNome()">
            <p *ngIf="boo">{{pokemon.name | uppercase}} | {{isQuantida}} </p>
            <p *ngIf="!boo">Ver Nome</p>
        </div>

        <div class="card__imagem" (click)="visualisarNome()">
            <img [src]="pokemon.sprites.front_default" alt="">
        </div>

        <div class="card__button" (click)="respostaSelecionada(n.name)" *ngFor="let n of this.listSelecao">
            <button *ngIf="n.name!=''">{{ n.name | uppercase}}</button>
        </div>

    </diV>

    <div class="card__resposta" *ngIf="isResultado">

        <div class="resposta__card" *ngFor="let resul of listPokemon">

            <img class="resposta__img" src="{{resul.sprites.front_default}}" alt="">

            <p> {{resul.name | uppercase }}</p>
            <p *ngIf="resul.resul"> <img src="../../../assets/imgs/certo.jpg" alt="'{{resul.resul}}'" height="45px"
                    width="45px"> </p>
            <p *ngIf="!resul.resul"> <img src="../../../assets/imgs/errado.jpg" alt="{{resul.resul}}" height="45px"
                    width="45px"> </p>
        </div>
    </div>

    <div class="card__menu" (click)="inicio()" *ngIf="!isBoole">

        <!--  <img src="./../../../assets/imgs/sombraPokemon.jpg" width="100%" alt=""> -->
        <button (click)="inicio()">VAMOS LA clik aqui..</button>

    </div>

</div>