<div class="card_conteiner">

    <div class="card__opcao" *ngIf="!isBoole">
        <button (click)="inicio()">VAMOS COMEÇAR</button>
    </div>

    <diV class="card__opcao" *ngIf="isBoole">

        <div class="card__title">
            <p>{{pokemon.name | uppercase}} | {{isQuantida}} | {{ boo }} </p>
        </div>

        <div class="card__imagem">
            <img [src]="pokemon.sprites.front_default" alt="">
        </div>

        <div (click)="respostaSelecionada(n.name)" *ngFor="let n of this.listSelecao">
            <button *ngIf="n.name!=''">{{ n.name | uppercase}}</button>
        </div>

    </diV>

    <div class="card_opcao" *ngIf="isResultado">
        <div class="card__imagem" *ngFor="let resul of listPokemon">

            <img src="{{resul.sprites.front_default}}" alt="">

            <li> {{resul.name | uppercase }} | {{resul.resul}}</li>

        </div>
    </div>
</div>