<div class="card_conteiner">

    <div *ngIf="!isBoole">
        <button (click)="inicio()">VAMOS COMEÇAR</button>
    </div>

    <diV *ngIf="isBoole">
      
        <div class="card__title">
            <p>{{pokemon.name | uppercase}} | {{isQuantida}} | {{ boo }} </p>
        </div>

        <div class="card__imagem">
            <img [src]="pokemon.sprites.front_default" alt="">
        </div>

        <p (click)="respostaSelecionada(n.name)" *ngFor="let n of this.listSelecao">{{ n.name | uppercase }}</p>

        <p><button (click)="getListaPokemon()">List</button></p>

    </diV>

</div>