.home_button>button {


    border-radius: 10px;
    background-color: rebeccapurple;
    color: black;
    padding: 50px;

}

.home_button {

    border: 1px;
    border-color: orange;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    padding: 10px;
}

.quizz_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.quizz_logo>h3 {
    margin-top: 20px;
}