.home_button>button {

    border-radius: 10px;
    background-color: rebeccapurple;
    color: black;
    padding: 50px;

    width: 95%;

    margin-left: 20px;
    margin-right: 20x;
    margin-bottom: 20px;

}

.home_button {

    width: 100%;
    border-radius: 5px;
    background-color: transparent;

    padding: 10px;
}

.quizz_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.quizz_logo>h3 {
    margin-top: 20px;
}